/** @format */
nav {
    .img1 {
        margin-left: 20px;
        padding-right: 30px;
    }
    #sa {
        height: 30px;
        border-radius: 20px 0 0 20px;
        margin-trim: 20px;
        border-width: 1px;
    }
    #search {
        margin-left: 30px;
    }
    ul {
        display: inline;
        position: relative;
        top: 10px;
    }
}
